---
import { Container, FeatureCard } from '@odyssey-theme/components';
import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
---

<Layout>
	<HomeHeroSection />
	<Container>
		<section class="feature-card__section">
			<h2>Landing Pages</h2>
			<p>
				Use one of our preconfigured landing pages to jumpstart your website or
				ad campaign.
			</p>
			<div class="feature-card__grid">
				<FeatureCard
					href="/landing-pages/landing-1"
					imgSrc="/assets/images/home/screenshots/landing-1.png"
					title="Landing Page 1"
				/>
				<FeatureCard
					href="/landing-pages/landing-2"
					imgSrc="/assets/images/home/screenshots/landing-2.png"
					title="Landing Page 2"
				/>
			</div>
		</section>
	</Container>

	<Container>
		<section class="feature-card__section">
			<h2>Company Pages</h2>
			<p>
				Use one of our prebuilt company pages for your about page, contact page,
				legal pages, blog posts, etc.
			</p>
			<div class="feature-card__grid">
				<FeatureCard
					href="/company/about"
					imgSrc="/assets/images/home/screenshots/about.png"
					title="About Page"
				/>
				<FeatureCard
					href="/company/contact"
					imgSrc="/assets/images/home/screenshots/contact.png"
					title="Contact Page"
				/>
				<FeatureCard
					href="/blog/"
					imgSrc="/assets/images/home/screenshots/blog.png"
					title="Blog Page"
				/>
				<FeatureCard
					href="/blog/posts/remote-work-mental-health"
					imgSrc="/assets/images/home/screenshots/blog-post.png"
					title="Blog Post"
				/>
				<FeatureCard
					href="/company/legal"
					imgSrc="/assets/images/home/screenshots/legal.png"
					title="Legal Page"
				/>
			</div>
		</section>
	</Container>

	<Container>
		<section class="feature-card__section">
			<h2>Theme Pages</h2>
			<p>Learn more about how to set up and use the Odyssey Theme.</p>
			<div class="feature-card__grid">
				<FeatureCard
					href="/theme/get-started"
					imgSrc="/assets/images/home/screenshots/get-started.png"
					title="Get Started"
				/>
				<FeatureCard
					href="/theme/style-guide"
					imgSrc="/assets/images/home/screenshots/style-guide.png"
					title="Style Guide"
				/>
			</div>
		</section>
	</Container>
</Layout>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
</style>
