---
import { Icon } from 'astro-icon/components'
const { navData, rightMenu } = Astro.props;
---

<script type="module">
  const bodyElement = document.querySelector('body');
  const menuButton = document.querySelector('#menuButton')
  const navHeader = document.querySelector('#odysseyNavHeader');
  const menuButtonIconHam = document.querySelector('#menuButtonIconHam');
  const menuButtonIconClose = document.querySelector('#menuButtonIconClose');
  let scrollPosition = 0;

  menuButton.addEventListener('click', toggleMenu)

  function toggleMenu() {
    menuButtonIconHam.toggleAttribute('hidden');
    menuButtonIconClose.toggleAttribute('hidden');
    
    if (navHeader.hasAttribute('mobile-menu-open', true)) {
      menuButton.title = "Open Main Menu"
      // unlock scroll position
      bodyElement.style.removeProperty('overflow');
      bodyElement.style.removeProperty('position');
      bodyElement.style.removeProperty('top');
      bodyElement.style.removeProperty('width');
      window.scrollTo(0, scrollPosition);
    } else {
      menuButton.title = "Close Main Menu"
      // lock scroll position
      scrollPosition = window.pageYOffset;
      bodyElement.style.overflow = 'hidden';
      bodyElement.style.position = 'fixed';
      bodyElement.style.top = `-${scrollPosition}px`;
      bodyElement.style.width = '100%';
    }
    
    navHeader.toggleAttribute('mobile-menu-open');
  }
</script>  

<header id="odysseyNavHeader" class={`${rightMenu ? "header--right" : ``.trim()}`}>
  <div class="header-logo-menu__container">
  <button id="menuButton" title="Open Main Menu">
    <span id="menuButtonIconHam">
      <Icon name="ic:baseline-menu" width="24px" height="24px" />
    </span>
    <span id="menuButtonIconClose" hidden>
      <Icon name="ic:baseline-close" width="24px" height="24px" />
    </span>
  </button>
  <a class="header-logo__link" href="/">
    <slot name="logo">
    </slot>
  </a>
  </div>
  <div class="header-nav__container">
    <slot name="nav">
      {navData && <nav>
        <ul>
          {navData.map(navItem => (
            (<li><a href={navItem.slug} >{navItem.title}</a></li>)
          ))}
        </ul>
      </nav>}
    </slot>
  </div>
  <div class="header-action-item__container">
    <slot name="action-item">
    </slot>
  </div>
</header>

<style>
  header {
    width: 100%;
    padding: 1rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header.header--right {
    display: grid;
    grid-template-columns: 1fr auto auto;
  }
  .header-logo__link {
    width: fit-content;
    color: inherit;
    text-decoration: none;
  }
  .header-logo-menu__container {
    display: flex;
    align-items: center;
    z-index: 100;
  }
  .header-action-item__container {
    z-index: 100;
  }
  #menuButton {
    outline: none;
    border: none;
    background-color: transparent;
    margin-right: 0.5rem;
    display: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
  #menuButton > span {
    color: var(--theme-on-bg);
    vertical-align: middle;
  }
  nav {
  display: flex;
  }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  nav ul li a {
    text-decoration: none;
    margin-right: 1rem;
    color: inherit;
    opacity: 0.72;
    transition: opacity linear 150ms;
  }
  nav ul li a:hover {
    opacity: 1;
  }
  @media(max-width: 600px) {
    #menuButton {
      display: block;  
      z-index: 100;
    }
    .header-nav__container {
      width: 100%;
      height: 100%;
      background-color: var(--theme-bg);
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: fixed;
      inset: 0;
      z-index: 99;
    }
    header[mobile-menu-open] .header-nav__container {
      display: flex;
    }
    header[mobile-menu-open] nav ul {
      align-items: center;
      flex-direction: column;
    }
     header[mobile-menu-open] nav ul li {
       font-size: var(--font-size-lg);
       margin-bottom: 1rem;
     }
  }
</style>