---
import Container from '../core/Container.astro';
import YouTubeEmbed from '../core/YouTubeEmbed.astro';

const {url, rounded} = Astro.props;
---

<Container>
  <section class="youtube-embed__section">
    <YouTubeEmbed url={url} rounded={rounded} />
  </section>
</Container>

<style>
 .youtube-embed__section {
   margin: var(--section-margin) auto;
 }
</style>