---
import { Container, FeatureCard } from '@components/odyssey-theme';

import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
---

<Layout>
	<HomeHeroSection />
	<Container>
		<section class="feature-card__section">
			<h2>Landing Pages</h2>
			<p>
				Use one of our landing pages to jumpstart your website or
				ad campaign.
			</p>
			<div class="feature-card__grid">
				<FeatureCard href="/landing-pages/landing-1" title="Landing Page 1" imgSrc="/assets/images/home/screenshots/landing-1">
				</FeatureCard>
				<FeatureCard href="/landing-pages/landing-2" title="Landing Page 2" imgSrc="/assets/images/home/screenshots/landing-2">
				</FeatureCard>
			</div>
		</section>
	</Container>

	<Container>
		<section class="feature-card__section">
			<h2>Company Pages</h2>
			<p>
				Use one of our prebuilt company pages for your about page, contact page,
				legal pages, blog posts, etc.
			</p>
			<div class="feature-card__grid">
				<FeatureCard href="/company/about" title="About Page" imgSrc="/assets/images/home/screenshots/about">
				</FeatureCard>
				<FeatureCard href="/company/contact" title="Contact Page" imgSrc="/assets/images/home/screenshots/contact">
				</FeatureCard>
				<FeatureCard href="/blog/" title="Blog Page" imgSrc="/assets/images/home/screenshots/blog">
				</FeatureCard>
				<FeatureCard
					href="/blog/posts/remote-work-mental-health"
					title="Blog Post"
          imgSrc="/assets/images/home/screenshots/blog-post"
				>
				</FeatureCard>
				<FeatureCard
					href="/company/legal"
					imgSrc="/assets/images/home/screenshots/legal"
					title="Legal Page"
				>
				</FeatureCard>
			</div>
		</section>
	</Container>

	<Container>
		<section class="feature-card__section">
			<h2>Theme Pages</h2>
			<p>Learn more about how to set up and use the Odyssey Theme.</p>
			<div class="feature-card__grid">
				<FeatureCard
					href="/theme/get-started"
					imgSrc="/assets/images/home/screenshots/get-started"
					title="Get Started"
				>
				</FeatureCard>
				<FeatureCard
					href="/theme/style-guide"
					imgSrc="/assets/images/home/screenshots/style-guide"
					title="Style Guide"
				>
				</FeatureCard>
			</div>
		</section>
	</Container>
</Layout>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
</style>
