---
---

<p class="odyssey-logo">Odyssey</p>

<style>
	.odyssey-logo {
		width: fit-content;
		margin: 0;
		font-family: var(--theme-font-family-serif);
    font-size: var(--font-size-md);
		color: inherit;
	}
	.odyssey-logo:hover {
		text-decoration: underline;
		cursor: pointer;
	}
</style>
