---
---

<p>
	Designed by <span class="ls__logo"
		><svg fill="none" viewBox="0 0 206 252" height="18px"
			><path
				stroke="currentColor"
				stroke-linecap="round"
				stroke-width="18.628"
				d="M10 242.594 135.02 10M196.519 242.595 71.499 10"></path></svg
		></span
	><a href="https://littlesticks.dev">Little Sticks</a>
</p>

<style>
  .ls__logo {
    padding: 0 0.25rem
  }
	p {
		font-size: var(--font-size-sm);
	}
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
</style>
