---
import { TextSection, StickyTextImageSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'Meet the Team | Nightingale',
	description: 'Meet the Team Page',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>Meet the Team</h1>
			<p>
				We are a group of 4th year Mechatronics Engineering students passionate about Robotics! Read more about us below!
			</p>
		</div>
    <picture slot="image-container">
      <img
        src="/assets/images/home/nightingale_group.jpg"
        alt="Astro Odyssee"
        id="home-hero-image"
      />
    </picture>
	</HeroSection>
  <StickyTextImageSection>
    <div slot="text-container">
      <h3>Benjamin Schnapp</h3>
      <p>
        Ben is the manipulation lead. His work allows Florence to smoothly extend and retract the basket. Ben developed a flexible arm control
        interface, allowing Florence to switch dynamically between joint space and cartesian maneuvers. Ben also integrated end-effector orientation constraints into the 
        arm motions. Most notably, Ben greatly improved the smoothness of arm motions by resolving a deeply nested bug in the existing arm code.
        This resulted in noticeably smoother maneuvers. Outside of school, Ben enjoys hiking and skiing.
      </p>
    </div>
     <picture slot="image-container">
      <img
        src="/assets/images/landing-1/ben.png"
        alt="Astro Odyssey"
        loading="lazy"
      />
    </picture>
  </StickyTextImageSection>
  <StickyTextImageSection>
    <div slot="text-container">
      <h3>Felix Wong</h3>
      <p>
        Felix is the perception and human interaction lead for Nightingale. Over the project, Felix has made vision upgrades to the Kinova MOVO
         base by integrating an industry preferred Intel Realsense camera and added a tablet interface to allow Florence to easily 
         communicate with patients. Felix’s work allows for Florence to dynamically react to the patient to make their stay in the hospital comfortable. 
         Felix is the team resident foodie, bringing the team around to local restaurants when he is not working on Florence or playing badminton. 
      </p>
    </div>
     <picture slot="image-container">
      <img
        src="/assets/images/landing-1/felix.jpg"
        alt="Astro Odyssey"
        loading="lazy"
      />
    </picture>
  </StickyTextImageSection>
  <StickyTextImageSection>
    <div slot="text-container">
      <h3>Lyndon Tang</h3>
      <p>
        Lyndon is the system integration lead. Lyndon designed the high-level operational flow, from the robot receiving a patient request,
        to retrieving and delivering the items. Moreover, Lyndon also designed Florence's basket and a mounting interface for the tablet. Lastly,
        Lyndon also contributed to the manipulation efforts by adding collision detection to arm maneuvers. Beyond engineering, Lyndon enjoys
        spending time with his family and reading books.
      </p>
    </div>
     <picture slot="image-container">
      <img
        src="/assets/images/landing-1/lyndon.png"
        alt="Astro Odyssey"
        loading="lazy"
      />
    </picture>
  </StickyTextImageSection>
  <StickyTextImageSection>
    <div slot="text-container">
      <h3>Younes Reda</h3>
      <p>
        Younes is the autonomous navigation lead for the project. His work enables Florence to navigate dense hospital floors,
        avoiding both static and dynamic obstacles. Younes also brought up a simulation environment in which the team tested it's software prior to deploying on 
        the real robot. Beyond engineering, Younes enjoys playing soccer and practicing Jiu-Jitsu.
      </p>
    </div>
     <picture slot="image-container">
      <img
        src="/assets/images/landing-1/younes.png"
        alt="Astro Odyssey"
        loading="lazy"
      />
    </picture>
  </StickyTextImageSection>
</Layout>
