---
import {Icon} from 'astro-icon';
import { Button, Container, TextCardSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';

const seo = {
	title: 'Get Started using the Astro Odyssey Theme',
	description: 'Get started on how to setup and use this Astro theme.',
};
---

<Layout {seo}>
	<Container>
		<TextCardSection>
			<h1>Get Started with Odyssey</h1>
			<div class="cta-buttons__container">
        <Button
        href="https://littlesticks.dev/templates/odyssey-theme"
        outlined
        newTab
        customIcon
        >
        Get Odyssey Theme
        <Fragment slot="icon">
          <Icon name="ic:baseline-launch" />
        </Fragment>
      </Button>
        <Button
					href="/theme/theme-setup"
          customIcon
					>
          Theme Setup
          <Fragment slot="icon">
            <Icon name="ic:baseline-chevron-right" />
          </Fragment>
				</Button>
        <Button
					href="/theme/customizing-odyssey"
          customIcon
					>
          Customizing Odyssey
          <Fragment slot="icon">
            <Icon name="ic:baseline-chevron-right" />
          </Fragment>
				</Button>
			</div>
		</TextCardSection>
	</Container>
</Layout>

<style>
	.cta-buttons__container {
		display: flex;
		flex-wrap: wrap;
	}
	.cta-buttons__container :global(a) {
    margin-right: 1rem;
		margin-bottom: 1rem;
	}
</style>
