---
import {Icon} from 'astro-icon';
import { Button, Container, TextCardSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';

const seo = {
	title: 'Get Started using the Astro Odyssey Theme',
	description: 'Get started on how to setup and use this Astro theme.',
};
---

<Layout {seo}>
	<Container>
		<TextCardSection>
			<h1>Get Started with Odyssey</h1>
			<div class="cta-buttons__container">
        <Button
					href="/theme/theme-setup"
          customIcon
					>
          Theme Setup
          <Fragment slot="icon">
            <Icon name="ic:baseline-chevron-right" />
          </Fragment>
				</Button>
        <Button
					href="/theme/customizing-odyssey"
          customIcon
					>
          Customizing Odyssey
          <Fragment slot="icon">
            <Icon name="ic:baseline-chevron-right" />
          </Fragment>
				</Button>
				<Button
					href="https://github.com/littlesticksdev/odyssey-theme"
					outlined
					newTab
          customIcon
					>
          View Source
          <Fragment slot="icon">
            <Icon name="ic:baseline-launch" />
          </Fragment>
				</Button>
			</div>
      <p>Not your first rodeo? Click one of the buttons below to create your own Odyssey Theme!</p>
			<div class="code-buttons__container">
				<a
					href="https://app.netlify.com/start/deploy?repository=https://github.com/littlesticksdev/odyssey-theme"
				>
					<img src="https://www.netlify.com/img/deploy/button.svg" height="36px"
					/>
				</a>
				<a
					href="https://stackblitz.com/github/littlesticksdev/odyssey-theme/tree/main/theme"
				>
					<img
						src="https://developer.stackblitz.com/img/open_in_stackblitz.svg"
						height="36px"
					/>
				</a>
				<a
					href="https://codesandbox.io/s/github/littlesticksdev/odyssey-theme/tree/main/theme"
				>
					<img src="/assets/images/badges/open-in-codesandbox.svg" height="36px" />
				</a>
				<a
					href="https://gitpod.io/#https://github.com/littlesticksdev/odyssey-theme/tree/main/theme"
				>
					<img src="/assets/images/badges/open-in-gitpod.svg" height="36px" />
				</a>
			</div>
		</TextCardSection>
	</Container>
</Layout>

<style>
	.cta-buttons__container {
		display: flex;
		flex-wrap: wrap;
	}
	.cta-buttons__container :global(a) {
    margin-right: 1rem;
		margin-bottom: 1rem;
	}
	.code-buttons__container {
		margin: 1rem auto;
		display: flex;
		flex-wrap: wrap;
	}
	.code-buttons__container > a {
		margin-right: 1rem;
		margin-bottom: 1rem;
	}
</style>
