---
import {Icon} from 'astro-icon/components'
import { Button, FormInput } from '@components/odyssey-theme';

const selectOptions = [
  "Google Search",
  "Social Media",
  "Email",
]

---

<form name="Contact Form" method="POST" action="/contact-thank-you" >
  <FormInput type="text" label="First Name" name="First Name" placeholder="John" />
  <FormInput type="text" label="Last Name" name="Last Name" placeholder="Doe" />
  <FormInput type="email" label="Email" name="Email" placeholder="hello@example.com" />
  <Button customIcon>Submit
    <Fragment slot="icon">
      <Icon name="ic:baseline-chevron-right" />
    </Fragment>
  </Button>
</form>

<style>
  form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
</style>