---
import { Button, FormInput, FormSelect, FormTextarea } from '@odyssey-theme/components';

const selectOptions = [
  "Google Search",
  "Social Media",
  "Email",
]

---

<form name="Contact Form" method="POST" action="/contact-thank-you" data-netlify="true">
  <FormInput type="text" label="First Name" name="First Name" placeholder="John" />
  <FormInput type="text" label="Last Name" name="Last Name" placeholder="Doe" />
  <FormInput type="email" label="Email" name="Email" placeholder="hello@example.com" />
  <Button materialIcon="chevron_right">Submit</Button>
</form>

<style>
  form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
</style>